body {
  display: grid;
  grid-template: auto/ minmax(50px, 1fr);
  background-color: #c3cfe2;
}
.div {
  height: 190px;
  width: 190px;
  padding: 10px;
  border-radius: 20px;
  background-color: blue;
  position: relative;
  left: 0px;
  top: -220px;
  z-index: 1;
  opacity: 0;
  transition: opacity 200ms ease-in-out;
}

img {
  height: 200px;
  width: 200px;
  padding: 10px;
  border-radius: 20px;
}

.container:hover .div {
  opacity: 1;
}

@media only screen and (min-width: 600px) {
  body {
    grid-template: auto/ repeat(2, minmax(450px, 1fr));
  }
}

@media only screen and (min-width: 1000px) {
  body {
    grid-template: auto/ repeat(3, minmax(250px, 1fr));
  }
}
