@import url("font-awesome/css/fontawesome-all.min.css");

.social-media.blog {
  background-color: #e17b77;
}

.social-media.facebook {
  background-color: #3b5998;
}

.social-media.twitter {
  background-color: #00aced;
}

.social-media.github {
  background-color: #333;
}

.social-media.linkedin {
  background-color: #007bb6;
}

.social-media-container {
  position: fixed;
  top: 150px;
  left: calc(100% - 100px);
}
.social-media {
  position: relative;
  align-items: center;
  display: flex;
  transition: transform 1500ms ease-in-out;
  height: 75px;
  padding: 0 20px;
}
.social-media i {
}

.social-media a {
  color: #fff;
  padding: 0 90px;
  text-decoration: none;
  display: inline-flex;
  white-space: nowrap;
}
.social-media:hover {
  transform: translateX(calc(-100% + 100px));
}

.fa-laptop-code::before {
  content: "\f5fc";
  color: #ffffff;
}
.fa-twitter::before {
  content: "\f099";
  color: #ffffff;
}
.fa-linkedin-in::before {
  content: "\f0e1";
  color: #ffffff;
}
.fa-facebook-f::before {
  content: "\f39e";
  color: #ffffff;
}
.fa-github::before {
  content: "\f09b";
  color: #ffffff;
}

ul {
  list-style: none;
}
